/**
 * Colors
 * Create variables describing all the colors you use in the app and place them here
 */

$body-bg:              #F3F5F8;
$body-color:           #455667;

$sidebar-bg:                        #3B5164;
$sidebar-color:                     #F3F5F8;
$sidebar-heading-bg:                #273C4E;
$sidebar-heading-color:             #fff;
$sidebar-active-highlight:          #da8301;
$sidebar-link-color:                #fff;
