/**
 * Sidebar-related styles
 */
 @import "sizes";
 @import "colors";
 @import "fonts";

.sidebar {
    nav {
        li {
            a{
                .active {
                    // border-left: 3px solid $sidebar-active-highlight;
                }
            }
        }
    }
}

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: $topbar-height;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: $sidebar-bg;
        color: $sidebar-color;
        .nav {
            li a {
                display: block;
                padding: 10px;
            }
            li {
                background-color: $sidebar-heading-bg !important;
                color: $sidebar-heading-color !important;
                padding: 0 !important;
                h2 {
                    font-family: $font-family-sans-serif;
                    font-size: 1rem !important;
                    font-weight: bold;
                    padding: 10px;
                    margin: 0 !important;
                    font-variant: small-caps;
                }
            }
        }

        a {
            color: $sidebar-link-color;
        }
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    li {
        a {
            border-left: 3px solid $sidebar-bg;
        }
        a.active {
            border-color: $sidebar-active-highlight;
            text-decoration: none !important;
        }
    }
}
.nav-sidebar
.nav-sidebar a,
.nav-sidebar a:focus {
    color: lighten($sidebar-bg, 90%);
    outline: none;
}

.nav-sidebar a:hover {
    background-color: lighten($sidebar-bg, 5%) !important;
    text-decoration: none !important;
}
