/**
 * Application-wide Stylesheet
 * These are styles that I want available everywhere in the application.
 */

@font-face {

    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf') format('truetype'),

}

@font-face {

    font-family: RobotoLight;
    src: url('/fonts/Roboto-Light.ttf') format('truetype'),

}

@font-face {

    font-family: LibelSuit;
    src: url('/fonts/Libel-Suit-Regular.ttf') format('truetype'), 

}

body {
    font-family: $font-family-sans-serif;
    
}

h1,h2,h3,h4,h5,h6 {
    color: $dzen-heading-color;
    font-family: $dzen-font-family-headings;
}

.page-title {
    .fa {
        color: $dzen-primary;
    }
}

.card {
    @include clearfix(); 
    .card-block {
        @include clearfix(); 
    }
}

.copy {
    clear: both;
    color: $dzen-body-color;
    text-align: center;
    margin: 1em 0;
    a {
    }
}

.dzg {
    font-family: $dzen-font-family-headings;
    color: $dzen-logo-secondary !important;
    strong {
        color: $dzen-logo-primary !important;
    }
}

.lead {
    color: $dzen-lead-color !important;
}

.form-horizontal {
    @include clearfix();
    
}

.form-vertical {
    .form-group {
        @include clearfix();
        margin-bottom: .25rem;
    }
    .form-input {
        padding: 0 .75rem;
    }
    .form-control-label {
    }
    .checkbox-inline {
        padding-top: .25rem;
    }
    .form-submit {
        margin-top: 1rem;
    }
}

input:focus {
    background-color: $dzen-input-focus-bg;
    border-color: $dzen-input-focus-bg;
    color: $dzen-input-focus-color;
}

.form-control-label {
    color: #fff;
}

.has-danger {
    .form-control-label {
        color: white;
    }
    .form-control {
        color: lighten(#573737, 40%);
        border-color: darken(#573737, 12%);
        background-color: darken(#573737, 12%);
    }
    .text-help {
        color: lighten($brand-danger, 5%);
    }
}

.btn {
    font-weight: bold;
}

.btn:hover {
    
    color: $dzen-btn-hover-color;
}

.alert {
    background-color: $dzen-alert-bg;
    color: $dzen-alert-color;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: $alert-border-width;
    @include clearfix();
    
    .alert-icon {
        color: $dzen-alert-icon-color;
        font-size: 1.5rem;
        float: left;
    }
    .alert-text {
        display: block;
        margin-left: 2.5rem;
    }
}