/**
 * Admin Panel Sass Stylesheet (SCSS)
 * @todo Make sure to use $bootstrap-vars where appropriate (for instance, navbar
 *       border should be set by the variables, not set in this file)
 */
@import "init";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: $dzen-topbar-height;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    background-color: $dzen-topbar-bg;
    border: 0;
    height: $dzen-topbar-height;
}

.top {
    padding: 0;
    height: $dzen-topbar-height;
    .row {
        margin: 0;
    }
    .logo {
        font-size: 2rem !important;
    }
    .topnav {
        .nav {
            padding-right: 40px;
            font-weight: bold;
            a.nav-link {
                text-transform: capitalize;
                height: $dzen-topbar-height;
                line-height: $dzen-topbar-height;
                vertical-align: middle !important;
                padding: 0 1rem;
                color: $dzen-topbar-link-color;
                background-color: $dzen-topbar-bg;
            }
            a.nav-link:hover {
                color: $dzen-topbar-hover-link-color;
                background-color: $dzen-topbar-hover-link-bg;
            }
        }
    }
    #logo {
        font-size: 2rem !important;
    }
}

.navbar {
    .help {
        i {
          /*font-size: 1.5rem !important;*/
        }
        .text {
            display: none;
        }
    }
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: $dzen-topbar-height;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: $dzen-gray-darker;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
    .page-header {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}


.admin-panel {
    .form-horizontal {
        .form-group {
            clear: both;
            @include clearfix();
        }
        .buttons {
            margin: 1rem 0;
            @include clearfix();
        }
    }
}

.page {
    padding-left: 256px;
}
