/**
 * Custom variables
 * This just contains all my variables/mixins/etc.
 * @todo Prefix all custom variables with "dzen" so that it's easy to tell which
 *       are mine and which are bootsttap.
 */

$dzen-gray-darkest:             #181a1f;
$dzen-gray-darker:              #24262d; // pretty sure this is just gray-dark "darkened" by 10%
$dzen-gray-dark:                #2F323B;
$dzen-gray:                     #55595c;
$dzen-gray-light:               #818a91;
// $dzen-gray-lighter:             #eceeef;
$dzen-gray-lighter:             #A1A4AD;
$dzen-gray-lightest:            #f7f7f9;

$dzen-primary:                  #5bc0de; // light blue
$dzen-success:                  #a7df8e;
$dzen-info:                     #5bc0de; // make this another blue
$dzen-warning:                  #f0ad4e;
$dzen-danger:                   #d9534f;

$dzen-logo-primary:             lighten($dzen-info, 5%); // light green
$dzen-logo-secondary:           $dzen-success; // light blue

$dzen-body-bg:                  $dzen-gray-dark;
$dzen-body-color:               lighten($dzen-body-bg, 65%); 
$dzen-lead-color:               lighten($dzen-body-color, 15%);

$dzen-font-family-sans-serif:   RobotoLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
$dzen-font-family-headings:     LibelSuit, $dzen-font-family-sans-serif;
$dzen-heading-color:            #fff;

$dzen-topbar-height:            50px;
$dzen-topbar-bg:                $dzen-gray-darkest;
// $dzen-topbar-link-bg-color:      $topbar-bg-color;
$dzen-topbar-link-bg:           transparent;
$dzen-topbar-link-color:        #fff; 
$dzen-topbar-hover-link-bg:     lighten($dzen-topbar-bg, 10%); 
$dzen-topbar-hover-link-color:  $dzen-topbar-link-color;

$dzen-sidebar-bg:               $dzen-gray-dark;
$dzen-content-bg:               $dzen-body-bg;

$dzen-btn-color:                $dzen-gray-lighter;
$dzen-btn-bg:                   transparent;
$dzen-btn-hover-color:          #fff;
$dzen-btn-hover-bg:             $dzen-btn-bg;

$dzen-disabled-color:           darken($dzen-body-color, 10%);

$dzen-form-bg:                  lighten($dzen-content-bg, 10%);

$dzen-input-bg:                 darken($dzen-gray-dark, 10%); // @todo I think this actually might look better lightened (also I think it should be relative to whatever its bg is so using opacity would be preferred)
$dzen-input-focus-bg:           darken($dzen-gray-dark, 15%);
$dzen-input-focus-color:        darken($dzen-gray-lightest, 15%);

$dzen-card-cap-bg:              $dzen-body-bg;
$dzen-card-bg:                  lighten($dzen-body-bg, 5%);
$dzen-card-color:               lighten($dzen-body-color, 5%);
$dzen-card-border-color:        $dzen-card-bg;

$dzen-link-color:               $dzen-logo-primary;

$dzen-alert-bg:                 $dzen-card-bg;
$dzen-alert-color:              $dzen-body-color;
$dzen-alert-icon-color:         #fff;