/**
 * Guest Panel Sass Stylesheet (SCSS)
 * (shown to unauthenticated users)
 */
@import "init";

body {
    
}

.content {
    margin-top: $dzen-topbar-height;
    .card-block {
        padding: 1rem;
    }
    .page-title {
        font-size: 1.25rem;
    }
}

.login-options {
    li {
        list-style-type: none;
        display: inline-block;
        padding: 0 1rem;
        @include clearfix();
    }
}